# <font color='blue'>Data Science Academy Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 2</font>

# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

## Series

In [1]:
import pandas as pd
import numpy as np

## Usando numpy.ndarray

In [2]:
np.random.seed(100)
Serie1 = pd.Series(np.random.rand(10))

In [3]:
Serie1

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
7    0.825853
8    0.136707
9    0.575093
dtype: float64

In [4]:
type(Serie1)

pandas.core.series.Series

In [5]:
import calendar as cal

In [6]:
meses = [cal.month_name[i] for i in np.arange(1, 13)]
meses_Series1 = pd.Series(np.arange(1, 13), index = meses)

In [7]:
meses_Series1

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

In [8]:
meses_Series1.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

## Usando Dicionários Python

In [9]:
dict1 = {'US' : 'dollar', 'UK' : 'pound', 'Germany': 'euro', 'Brazil':'real', 'China':'yuan', 'Japan':'yen'}

In [10]:
moeda_Series1 = pd.Series(dict1)

In [11]:
moeda_Series1

Brazil       real
China        yuan
Germany      euro
Japan         yen
UK          pound
US         dollar
dtype: object

In [12]:
stockPrices = {'GOOG':1092.23, 'FB':59.78, 'TWTR': 67.31, 'AMZN':342.90, 'AAPL':501.60}

In [13]:
stockPriceSeries = pd.Series(stockPrices, 
                             index = ['GOOG','FB','YHOO','TWTR','AMZN','AAPL'], 
                             name = 'stockPrices')

In [14]:
stockPriceSeries

GOOG    1092.23
FB        59.78
YHOO        NaN
TWTR      67.31
AMZN     342.90
AAPL     501.60
Name: stockPrices, dtype: float64

## Usando valores escalares

In [15]:
humanSerie = pd.Series('Homem', index = ['pernas','tronco', 'peito', 'cabeça'])

In [16]:
humanSerie

pernas    Homem
tronco    Homem
peito     Homem
cabeça    Homem
dtype: object

## Operações com séries

In [17]:
# Obtendo um único valor
dict1['China']

'yuan'

In [18]:
# Alterando um elemento
stockPriceSeries['GOOG'] = 1300.0

In [19]:
stockPriceSeries

GOOG    1300.00
FB        59.78
YHOO        NaN
TWTR      67.31
AMZN     342.90
AAPL     501.60
Name: stockPrices, dtype: float64

In [20]:
stockPriceSeries['XPTO']

KeyError: 'XPTO'

In [21]:
stockPriceSeries.get('XPTO', np.NaN)

nan

## Slicing

In [22]:
stockPriceSeries[:4]

GOOG    1300.00
FB        59.78
YHOO        NaN
TWTR      67.31
Name: stockPrices, dtype: float64

In [23]:
stockPriceSeries[stockPriceSeries > 100]

GOOG    1300.0
AMZN     342.9
AAPL     501.6
Name: stockPrices, dtype: float64

## Outras operações

In [24]:
np.mean(stockPriceSeries)

454.3179999999999

In [25]:
np.std(stockPriceSeries)

455.03033500635973

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>