# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

## Series

In [20]:
import pandas as pd
import numpy as np

## Usando numpy.ndarray

In [21]:
np.random.seed(100)
Serie1 = pd.Series(np.random.rand(10))

In [22]:
Serie1

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
7    0.825853
8    0.136707
9    0.575093
dtype: float64

In [23]:
type(Serie1)

pandas.core.series.Series

In [24]:
import calendar as cal

In [25]:
meses = [cal.month_name[i] for i in np.arange(1, 13)]
meses_Series1 = pd.Series(np.arange(1, 13), index = meses)

In [26]:
months = np.arange(1, 13)
print(months)
for month in months:
  print(cal.month_name[month])

[ 1  2  3  4  5  6  7  8  9 10 11 12]
January
February
March
April
May
June
July
August
September
October
November
December

In [27]:
meses_Series1

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

In [28]:
meses_Series1.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

## Usando Dicionários Python

In [29]:
dict1 = {'US' : 'dollar', 'UK' : 'pound', 'Germany': 'euro', 'Brazil':'real', 'China':'yuan', 'Japan':'yen'}

In [30]:
moeda_Series1 = pd.Series(dict1)

In [31]:
moeda_Series1

US         dollar
UK          pound
Germany      euro
Brazil       real
China        yuan
Japan         yen
dtype: object

In [32]:
stockPrices = {'GOOG':1092.23, 'FB':59.78, 'TWTR': 67.31, 'AMZN':342.90, 'AAPL':501.60}

In [33]:
stockPriceSeries = pd.Series(stockPrices, 
                             index = ['GOOG','FB','YHOO','TWTR','AMZN','AAPL'], 
                             name = 'stockPrices')

In [34]:
stockPriceSeries

GOOG    1092.23
FB        59.78
YHOO        NaN
TWTR      67.31
AMZN     342.90
AAPL     501.60
Name: stockPrices, dtype: float64

## Usando valores escalares

In [35]:
humanSerie = pd.Series('Homem', index = ['pernas','tronco', 'peito', 'cabeça'])

In [36]:
humanSerie

pernas    Homem
tronco    Homem
peito     Homem
cabeça    Homem
dtype: object

## Operações com séries

In [37]:
# Obtendo um único valor
dict1['China']

'yuan'

In [38]:
# Alterando um elemento
stockPriceSeries['GOOG'] = 1300.0

In [39]:
stockPriceSeries

GOOG    1300.00
FB        59.78
YHOO        NaN
TWTR      67.31
AMZN     342.90
AAPL     501.60
Name: stockPrices, dtype: float64

In [40]:
stockPriceSeries['XPTO']

KeyError: 'XPTO'

In [42]:
stockPriceSeries.get('XPTO', np.nan)

nan

## Slicing

In [43]:
stockPriceSeries[:4]
# 4 posições

GOOG    1300.00
FB        59.78
YHOO        NaN
TWTR      67.31
Name: stockPrices, dtype: float64

In [44]:
stockPriceSeries[stockPriceSeries > 100]
# retorno condicional

GOOG    1300.0
AMZN     342.9
AAPL     501.6
Name: stockPrices, dtype: float64

## Outras operações

In [45]:
np.mean(stockPriceSeries)

np.float64(454.3179999999999)

In [46]:
np.std(stockPriceSeries)

np.float64(455.03033500635973)