# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

# Panel

In [8]:
import pandas as pd
import numpy as np

In [4]:
stockData = np.array([[[63.03,61.48,75],
                     [62.05,62.75,46],
                     [62.74,62.19,53]],
                   [[411.90, 404.38, 2.9],
                    [405.45, 405.91, 2.6],
                    [403.15, 404.42, 2.4]]])

In [5]:
stockData

array([[[ 63.03,  61.48,  75.  ],
        [ 62.05,  62.75,  46.  ],
        [ 62.74,  62.19,  53.  ]],

       [[411.9 , 404.38,   2.9 ],
        [405.45, 405.91,   2.6 ],
        [403.15, 404.42,   2.4 ]]])

In [6]:
type (stockData)
# Elemento do mumpy com várias dimensões

numpy.ndarray

In [9]:
stockHistoricalPrices = pd.Panel(stockData,
                                 items = ['FB', 'NFLX'],
                                 major_axis = pd.date_range('2/3/2016', periods = 3),
                                 minor_axis = ['open price', 'closing price', 'volume'])
stockHistoricalPrices

AttributeError: module 'pandas' has no attribute 'Panel'

## Criando um DataFrame a partir de um Dicionário

In [10]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [11]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [12]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [13]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [14]:
US_ChinaData = {'US' : USData,
                'China': ChinaData}

In [15]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [16]:
type(US_ChinaData)

dict

In [17]:
pd.Panel(US_ChinaData)

AttributeError: module 'pandas' has no attribute 'Panel'

In [18]:
type(pd.Panel(US_ChinaData))

AttributeError: module 'pandas' has no attribute 'Panel'

## Convertendo DataFrame para Panel

In [ ]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

In [ ]:
mIdx

In [ ]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35], 
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                         index = mIdx)

In [ ]:
ChinaUSDF

In [ ]:
ChinaUSDF.to_panel()