# <font color='blue'>Data Science Academy - Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 2</font>

# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

# Panel

In [1]:
import pandas as pd
import numpy as np

In [2]:
stockData = np.array([[[63.03,61.48,75],
                     [62.05,62.75,46],
                     [62.74,62.19,53]],
                   [[411.90, 404.38, 2.9],
                    [405.45, 405.91, 2.6],
                    [403.15, 404.42, 2.4]]])

In [3]:
stockData

array([[[  63.03,   61.48,   75.  ],
        [  62.05,   62.75,   46.  ],
        [  62.74,   62.19,   53.  ]],

       [[ 411.9 ,  404.38,    2.9 ],
        [ 405.45,  405.91,    2.6 ],
        [ 403.15,  404.42,    2.4 ]]])

In [4]:
type (stockData)

numpy.ndarray

In [5]:
stockHistoricalPrices = pd.Panel(stockData,
                                 items = ['FB', 'NFLX'],
                                 major_axis = pd.date_range('2/3/2016', periods = 3),
                                 minor_axis = ['open price', 'closing price', 'volume'])
stockHistoricalPrices

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: FB to NFLX
Major_axis axis: 2016-02-03 00:00:00 to 2016-02-05 00:00:00
Minor_axis axis: open price to volume

## Criando um DataFrame a partir de um Dicionário

In [6]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [7]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [8]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [9]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [13]:
US_ChinaData = {'US' : USData,
                'China': ChinaData}

In [14]:
US_ChinaData

{'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47, 'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0}

In [15]:
pd.Panel(US_ChinaData)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: China to US
Major_axis axis: 1995 to 2015
Minor_axis axis: População(M) to PIB($B)

In [16]:
type(pd.Panel(US_ChinaData))

pandas.core.panel.Panel

## Convertendo DataFrame para Panel

In [17]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

In [18]:
mIdx

MultiIndex(levels=[['US', 'China'], [1995, 2005, 2015]],
           labels=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [20]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35], 
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                         index = mIdx)

In [21]:
ChinaUSDF

             PIB($B)  População(M)
China 1995    390.28       1133.68
      2005   1198.48       1266.83
      2015   6988.47       1339.72
US    1995   8900.00        249.62
      2005  12680.00        282.16
      2015  14940.00        309.35

In [22]:
ChinaUSDF.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 3 (minor_axis)
Items axis: PIB($B) to População(M)
Major_axis axis: US to China
Minor_axis axis: 1995 to 2015

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>